<!doctype html>
<html lang="en" ng-app="Datavisus">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Datavisus</title>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/dashboard/dashboard.css">
  <link rel="stylesheet" type="text/css" href="css/themes/blue.css">
  <!--
  <link rel="stylesheet" type="text/css" href="css/themes/green.css">
  <link rel="stylesheet" type="text/css" href="css/themes/red.css">
  -->

  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-sanitize.js"></script>
  <script type="text/javascript" src="js/angular-cookies.js"></script>
  <script type="text/javascript" src="js/ng-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="js/angular/main.js"></script>
  <script type="text/javascript" src="js/angular/controllers/alerts.js"></script>

</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak>

    <!-- Sidebar -->

    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a href="#" ng-click="toggleSidebar()">
            Datavisus
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>OBJETO</span></li>
        <li class="sidebar-list">
          <a href="#">Carregar <span class="menu-icon fa fa-search"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#">Criar novo <span class="menu-icon fa fa-plus"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#">Sair <span class="menu-icon fa fa-sign-out"></span></a>
        </li>
        <li class="sidebar-title separator"><span>QUICK LINKS</span></li>
        <li class="sidebar-list">
          <a href="#" target="_blank">Forums <span class="menu-icon fa fa-external-link"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/Ehesp/Responsive-Dashboard" target="_blank">
              SEADE
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" target="_blank">
              Ajuda
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
              Contato
          </a>
        </div>
      </div>
    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->

        <div class="row header">
          <div class="col-xs-12">
            <div class="meta pull-left">
              <div class="page">
                Datavisus
              </div>
              <div class="breadcrumb-links">
                Home / Datavisus
              </div>
            </div>
            <div class="user pull-right">
              <div class="item dropdown">
                <a href="#" class="dropdown-toggle">
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Joe Bloggs
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Profile
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Logout
                    </a>
                  </li>
                </ul>               
              </div>
              <div class="item dropdown">
               <a href="#" class="dropdown-toggle">
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Server Down!</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- End Header Bar -->

        <!-- Main Content -->
        <div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
          <div class="col-xs-12">
            <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
          </div>
        </div>

        <div class="row" ng-repeat="chart in charts">
            <div class="col-lg-12">
                <div class="widget">
                    <div class="widget-title">
                        <i class="fa fa-bar-chart-o"></i>
                        Objeto #{{ chart.id }}
                        <a href="" class="pull-right" ng-click="charts.splice($index, 1)"><i class="fa fa-times"></i></a>
                        <a href="" class="pull-right" ng-click="chart.isCollapsed = !chart.isCollapsed"><i class="fa" ng-class="{'fa-angle-down': chart.isCollapsed, 'fa-angle-up': !chart.isCollapsed}"></i></a>
                    </div>
                    <div class="widget-body" collapse="chart.isCollapsed">
                        <iframe ng-src="{{ chartUrl(chart) }}" frameborder="0" width="100%" height="560"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Content -->

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>